* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body {
	color: #ededed;

	background-color: #12365e;
}
html {
	scroll-behavior: smooth;
}

/* Header starts here  */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 10%;
	background: #004074;

	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
}

.logo {
	position: relative;
	font-size: 25px;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	cursor: default;

	/* padding: 5px 10px;
	border-radius: 20px;
	box-shadow: 0 0 10px #0ef, 0 0 20px #0ef, 0 0 30px #0ef; */

	opacity: 0;
	animation: slideRight 1s ease forwards;
}

.navbar a {
	display: inline-block;
	font-size: 25px;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
	transition: 0.3s;

	opacity: 0;
	animation: slideTop 0.5s ease forwards;
	animation-delay: calc(0.2s * var(--i));
}
.navbar a:hover {
	color: #0ef;
}
/* Header ends here  */

/* Home section starts here  */
.home {
	position: relative;
	top: 80px;
	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 100px 10%;
}
.home-content {
	max-width: 600px;
	z-index: 10;
}
.home-content h3 {
	font-size: 32px;
	font-weight: 700;

	opacity: 0;
	animation: slideBottom 1s ease forwards;
	animation-delay: 0.5s;
}
.home-content h3:nth-of-type(2) {
	margin-bottom: 30px;
}
.home-content h3 span {
	color: #0ef;
}
.home-content h1 {
	font-size: 56px;
	font-weight: 700;
	margin: -3px 0;

	opacity: 0;
	animation: slideRight 1s ease forwards;
	animation-delay: 0.7s;
}
.home-content p {
	font-size: 20px;

	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: 0.9s;
}

.home-content__sci a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 2px solid #0ef;
	border-radius: 50%;
	font-size: 20px;
	color: #0ef;
	text-decoration: none;
	margin: 30px 15px 40px 0;

	transition: 0.5s ease;
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: calc(0.2s * var(--i));
}
.home-content__sci a:hover {
	background: #0ef;
	color: #12365e;
	box-shadow: 0 0 20px #0ef;
}
.btn-box {
	display: inline-block;
	padding: 12px 28px;
	background: #0ef;
	color: #12365e;
	border-radius: 40px;
	font-size: 16px;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 1px;

	opacity: 0;
	animation: slideTop 1s ease forwards;
	animation-delay: 2s;
	box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}
.btn-box:hover {
	box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
		0 0 200px cyan;
}

.home-profile {
	position: relative;
	width: 400px;
	height: 400px;
	border: 1px solid transparent;
	border-radius: 50%;
	box-shadow: 0 0 30px cyan, 0 0 60px cyan, 0 0 90px cyan, 0 0 120px cyan,
		0 0 150px cyan;

	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: 0.7s;
}
.home-profile img {
	width: 450px;
	height: 450px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* Home section ends here  */

/* About section starts here  */
.about {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 1.5rem;
}
.about-img img {
	padding: 20% 10%;
	max-width: 630px;
	height: auto;
	width: 100%;
	border-radius: 50%;
}
.about-text h2 {
	font-size: 60px;
}
.about-text h2 span {
	color: #0ef;
}
.about-text h4 {
	font-size: 29px;
	font-weight: 600;
	color: #fff;
	line-height: 1.7;
	margin: 15px 0 30px;
}
.about-text p {
	color: aliceblue;
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 4rem;
}
/* About section ends here  */

/* services section starts here */
.services {
	color: aliceblue;
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 4rem;
}
.container {
	padding: 90px;
}
.sub-title {
	text-align: center;
	font-size: 60px;
	padding-bottom: 50px;
}
.sub-title span {
	color: #0ef;
}
.services-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(269px, 1fr));
	grid-gap: 30px;
}
.services-list div {
	background-color: transparent;
	padding: 40px;
	font-size: 13px;
	border-right: 10px;
	border-radius: 20px;
	box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
	transition: background 0.5s, transform 0.5s;
}
.services-list div i {
	font-size: 50px;
	margin-bottom: 30px;
	color: #00eeff;
}
.services-list div h2 {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 15px;
}
.read {
	display: inline-block;
	margin-top: 20px;
	padding: 12px 28px;
	background: #0ef;
	color: #12365e;
	border-radius: 40px;
	font-size: 16px;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 600;

	opacity: 0;
	animation: slideTop 1s ease forwards;
	animation-delay: 2s;
	box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}
.read:hover {
	box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan;
}
.services-list div:hover {
	transform: translateY(-10px);
	box-shadow: inset 0 0 20px #012290f7, inset 0 0 40px #0053b8f7;
}
/* services section starts here */

/* skills section starts here  */
.skills {
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
}

.container1,
.container2 {
	width: 50%;
	height: 500px;
	padding: 75px 90px;
}

.heading1 {
	text-align: center;
	text-decoration: underline;
	text-underline-offset: 10px;
	text-decoration-thickness: 5px;
	margin-bottom: 50px;
	font-size: 30px;
}

.bar {
	font-size: 23px;
}

.technical-bars .bar {
	margin: 40px 0;
}

.technical-bars .bar:first-child {
	margin-top: 0;
}

.technical-bars .bar:last-child {
	margin-bottom: 0;
}

.technical-bars .bar .info {
	margin-bottom: 5px;
}

.technical-bars .bar .info span {
	font-size: 17px;
	font-weight: 500;
	opacity: 0;
	animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
	100% {
		opacity: 1;
	}
}

.technical-bars .bar .progress-line {
	position: relative;
	border-radius: 10px;
	width: 100%;
	height: 5px;
	background-color: #000;

	transform: scaleX(0);
	transform-origin: left;
	animation: animate 1s ease-in-out forwards;
}

@keyframes animate {
	100% {
		transform: scaleX(1);
	}
}

.technical-bars .bar .progress-line span {
	position: absolute;
	height: 100%;
	border-radius: 10px;
	background-color: #0ef;

	transform: scaleX(0);
	transform-origin: left;
	animation: animate 1s 1s ease-in-out forwards;
}

/* Individual progress widths */
.progress-line.html span {
	width: 90%;
}
.progress-line.css span {
	width: 85%;
}
.progress-line.javascript span {
	width: 75%;
}
.progress-line.react span {
	width: 80%;
}
.progress-line.php span {
	width: 70%;
}

.progress-line span::after {
	position: absolute;
	top: -28px;
	right: -20px;
	padding: 1px 8px;
	background-color: #000;
	color: #fff;
	font-size: 12px;
	border-radius: 3px;

	opacity: 0;
	animation: showText 0.5s 2s linear forwards;
}
.progress-line.html span::after {
	content: "90%";
}
.progress-line.css span::after {
	content: "85%";
}
.progress-line.javascript span::after {
	content: "75%";
}
.progress-line.react span::after {
	content: "80%";
}
.progress-line.php span::after {
	content: "70%";
}

.progress-line span::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-color: #000;
	top: -10px;
	right: 0;

	opacity: 0;
	animation: showText 0.5s 2s linear forwards;
}

/* .progress-line span::before {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	width: 15px;
	height: 15px;
	background-color: #0ef;
	border-radius: 50%;
	transform: translateY(-50%);

	opacity: 0;
	animation: showText 0.5s 2s linear forwards;
} */
.radial-bars {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
	row-gap: 60px;
}
.radial-bars .radial-bar {
	width: 50%;
	height: 170px;
	margin-bottom: 10px;
	position: relative;
}
.radial-bars .radial-bar svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-90deg);
	width: 160px;
	height: 160px;
}
.radial-bars .radial-bar .progress-bar {
	stroke-width: 10;
	stroke: black;
	fill: none;
	stroke-dasharray: 502;
	stroke-dashoffset: 502;
	stroke-linecap: round;
	animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar {
	100% {
		stroke-dashoffset: -1;
	}
}
.path {
	stroke-width: 10;
	stroke: #0ef;
	fill: transparent;
	stroke-dasharray: 502;
	stroke-dashoffset: 502;
	stroke-linecap: round;
}
.path-1 {
	animation: animate-path1 1s 1s linear forwards;
}
.path-2 {
	animation: animate-path2 1s 1s linear forwards;
}
.path-3 {
	animation: animate-path3 1s 1s linear forwards;
}
.path-4 {
	animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1 {
	100% {
		stroke-dashoffset: 50;
	}
} /* 90% */
@keyframes animate-path2 {
	100% {
		stroke-dashoffset: 175;
	}
} /* 70% */
@keyframes animate-path3 {
	100% {
		stroke-dashoffset: 125;
	}
} /* 80% */
@keyframes animate-path4 {
	100% {
		stroke-dashoffset: 75;
	}
} /* 85% */

.radial-bar .percentage {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 17px;
	font-weight: 500;
	opacity: 0;
	animation: showText 0.5s 2s linear forwards;
}
.radial-bar .text {
	width: 100%;
	position: absolute;
	text-align: center;
	bottom: -18px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 17px;
	font-weight: 500;
	animation: showText 0.5s 2s linear forwards;
	opacity: 0;
}
@keyframes showText {
	to {
		opacity: 1;
	}
}

/* skills section ends here  */

/* portfolio starts here  */
#portfolio .sub-title {
	margin-top: 150px;
}
.portfolio-content .row {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 40px;
}
.portfolio-content .item {
	width: 300px;
	height: 60vh;
	background-color: #000;

	opacity: 0;
	animation: slideLeft 0.5s ease forwards;
	animation-delay: calc(0.2s * var(--i));
}
/* portfolio starts here  */

/* contact section starts here  */
.contact {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 3rem;
	padding-left: 30px;
	margin-top: 130px;
}
.contact-text h2 {
	font-size: 70px;
	line-height: 1;
	text-align: center;
	margin-bottom: 5rem;
}
.contact-text h2 span {
	color: #0ef;
}
.contact-text h4 {
	margin: 15px 0;
	color: #ededed;
	font-size: 20px;
	font-weight: 600;
}
.contact-text p {
	color: rgb(176, 176, 176);
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 2rem;
}
.contact-list {
	margin-bottom: 3rem;
}
.contact-list li {
	margin-bottom: 10px;
	display: block;
}
.contact-list i {
	display: inline-block;
	color: #0ef;
	font-size: 20px;
	font-weight: 600;
	transition: all 0.4s ease;
}
.contact-list li a:hover {
	transform: scale(1.01) translateY(-5px);
	color: #0ef;
}
.contact-icons i {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 2px solid #0ef;
	border-radius: 50%;
	font-size: 20px;
	color: #0ef;
	text-decoration: none;
	margin: 30px 15px 30px 0;
	transition: 0.5s ease;

	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: calc(0.2s * var(--i));
}
.contact-icons i:hover {
	background: #0ef;
	color: #000;
	box-shadow: 0 0 20px #0ef;
}

.contact-form form {
	position: relative;
}
.contact-form form input,
form textarea {
	border: none;
	outline: none;
	width: 90%;
	padding: 18px;
	background: #555557;
	color: #000;
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
}
.contact-form textarea {
	resize: none;
	height: 220px;
}
.contact-form form .send {
	display: inline-block;
	margin-top: 20px;
	padding: 14px 60px;
	background: #0ef;
	color: #12365e;
	border-radius: 40px;
	font-size: 18px;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 600;

	opacity: 0;
	animation: slideTop 1s ease forwards;
	animation-delay: 2s;
	box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}
.contact-form form .send:hover {
	box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan;
}
/* contact section starts here  */

.last-text p {
	width: 100%;
	text-align: center;
	padding: 25px 0;
	background: #004074;
	font-weight: 300;
	margin-top: 70px;
}
.top {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	color: #000;
	background: #0ef;
	font-size: 20px;
	padding: 10px;
	border-radius: 0.5rem;
}

/* Keyframes for animation  */
@keyframes slideRight {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}
@keyframes slideTop {
	0% {
		transform: translateY(-100px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes slideBottom {
	0% {
		transform: translateY(-100px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}
@keyframes slideLeft {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

/* Responsive starts here  */
@media (max-width: 768px) {
	.home {
		flex-direction: column;
		text-align: center;
		height: auto;
		padding: 100px 10%;
	}
	.home-content {
		order: 2;
		text-align: left;
	}
	.home-profile {
		order: 1;
	}
}
