* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body {
	color: #ededed;

	background-color: #12365e;
}

/* Header starts here  */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 10%;
	background: #004074;

	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
}

.logo {
	position: relative;
	font-size: 25px;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	cursor: default;

	/* padding: 5px 10px;
	border-radius: 20px;
	box-shadow: 0 0 10px #0ef, 0 0 20px #0ef, 0 0 30px #0ef; */

	opacity: 0;
	animation: slideRight 1s ease forwards;
}

.navbar a {
	display: inline-block;
	font-size: 25px;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
	transition: 0.3s;

	opacity: 0;
	animation: slideTop 0.5s ease forwards;
	animation-delay: calc(0.2s * var(--i));
}
.navbar a:hover {
	color: #0ef;
}
/* Header ends here  */

/* Home section starts here  */
.home {
	position: relative;
	top: 80px;
	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 100px 10%;
}
.home-content {
	max-width: 600px;
	z-index: 10;
}
.home-content h3 {
	font-size: 32px;
	font-weight: 700;

	opacity: 0;
	animation: slideBottom 1s ease forwards;
	animation-delay: 0.5s;
}
.home-content h3:nth-of-type(2) {
	margin-bottom: 30px;
}
.home-content h3 span {
	color: #0ef;
}
.home-content h1 {
	font-size: 56px;
	font-weight: 700;
	margin: -3px 0;

	opacity: 0;
	animation: slideRight 1s ease forwards;
	animation-delay: 0.7s;
}
.home-content p {
	font-size: 20px;

	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: 0.9s;
}

.home-content__sci a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 2px solid #0ef;
	border-radius: 50%;
	font-size: 20px;
	color: #0ef;
	text-decoration: none;
	margin: 30px 15px 40px 0;

	transition: 0.5s ease;
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: calc(0.2s * var(--i));
}
.home-content__sci a:hover {
	background: #0ef;
	color: #12365e;
	box-shadow: 0 0 20px #0ef;
}
.btn-box {
	display: inline-block;
	padding: 12px 28px;
	background: #0ef;
	color: #12365e;
	border-radius: 40px;
	font-size: 16px;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 1px;

	opacity: 0;
	animation: slideTop 1s ease forwards;
	animation-delay: 2s;
	box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}
.btn-box:hover {
	box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
		0 0 200px cyan;
}

.home-profile {
	position: relative;
	width: 400px;
	height: 400px;
	border: 1px solid transparent;
	border-radius: 50%;
	box-shadow: 0 0 30px cyan, 0 0 60px cyan, 0 0 90px cyan, 0 0 120px cyan,
		0 0 150px cyan;

	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: 0.7s;
}
.home-profile img {
	width: 450px;
	height: 450px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* Home section ends here  */

/* About section starts here  */
.about {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 1.5rem;
}
.about-img img {
	padding: 20% 10%;
	max-width: 630px;
	height: auto;
	width: 100%;
	border-radius: 50%;
}
.about-text h2 {
	font-size: 60px;
}
.about-text h2 span {
	color: #0ef;
}
.about-text h4 {
	font-size: 29px;
	font-weight: 600;
	color: #fff;
	line-height: 1.7;
	margin: 15px 0 30px;
}
.about-text p {
	color: aliceblue;
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 4rem;
}
/* About section ends here  */

@keyframes slideRight {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}
@keyframes slideTop {
	0% {
		transform: translateY(-100px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes slideBottom {
	0% {
		transform: translateY(-100px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}
@keyframes slideLeft {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

/* Responsive starts here  */
@media (max-width: 768px) {
	.home {
		flex-direction: column;
		text-align: center;
		height: auto;
		padding: 100px 10%;
	}
	.home-content {
		order: 2;
		text-align: left;
	}
	.home-profile {
		order: 1;
	}
}
